body, h1,h2,h3 {
margin: 0;
padding: 0;
}

h1 {
    text-align: center;
margin-top: 40px;
    border: 10px;
    color: skyblue;
}

body {
font-family: "Helvetica Neue", "Helvetica", "Arial";
background-color: #f8f8f8;
background='background.jpg' 
}

a {
text-decoration:none;
    color:gray;
    text-align: center;
    margin: 50px 24px 0px 0px;
    
}

li {
display: inline;
list-style: none;
}

container {
width: 1260px;
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: 160px;
}

img {
display: inline;
margin-left: auto; 
margin-right: auto;
background: black;
padding: 5px;
border: 2px solid black;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-transition: all .9s ease-in-out;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
margin: 50px 24px 0px 0px;
}

img:hover {
opacity: .6;
-webkit-transition: all .9s ease-in-out;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
}

.nav {
  background-color: aliceblue;
  color: whitesmoke;
  list-style: none; 
  text-align: centre;
  padding: 50px 0 50px 0;
  font: Helvetica;
  margin: auto;
}

.nav > li {
  display: inline-block;
  padding-right: 50px;
 
  }

.nav > li > a {
  text-decoration: none;
  color:black;
}

.nav > li > a:hover {
  color: #c1c1c1;
}


.image { 
   position: relative; 
   width: 100%; 
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: black;
   background: black;
    opacity: 0.7;
   padding: 10px; 
}
h2 span.spacer {
   padding:0 5px;
}