body, h1,h2,h3 {
margin: 0;
padding: 0;
}

h1 {
    text-align: center;
margin-top: 40px;
    border: 10px;
    color: #EA6C80;
}

body {
font-family: "Helvetica Neue", "Helvetica", "Arial";
background-color: #f8f8f8;
background-image: url(background.jpg);
background-repeat: no-repeat;
background-size: 1920px 1040px;
}

a {
    text-decoration:none;
    text-align: center;
    margin: 50px 24px 0px 0px;
    
}

li {
display: inline;
list-style: none;
}

container {
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: 160px;
}

img {
display: inline;
margin-left: auto; 
margin-right: auto;
padding: 1px;
border: 1px solid #4EE2C1;
border-radius: 5px;
-moz-border-radius: 1px;
-webkit-transition: all .9s ease-in-out;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
margin: 50px 24px 0px 0px;
}

img:hover {
opacity: .6;
-webkit-transition: all .9s ease-in-out;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
}

.nav {
  background-color: aliceblue;
  list-style: none; 
  text-align: center;
  padding: 50px 0 50px 0;
  margin: auto;
    opacity: 0.8;
}

.topblock {
  background-color: #9FFFEA;
  list-style: none; 
  text-align: center;
  padding: 50px 0 50px 0;
  margin: auto;
    opacity: 0.8;
}

.nav > li {
  display: inline-block;
  padding-right: 50px;
 
  }

.nav > li > a {
  text-decoration: none;
  color: #4EE2C1;
  font: bold 24px/45px Helvetica, Sans-Serif; 

}

.nav > li > a:hover {
  color: #E24E65;
}

.topblock > a:hover {
  color: #4EE2C1;
}


.image { 
   position: relative; 
   width: 100%; 
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: #E24E65;
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: #4EE2C1;
   background: #4EE2C1;
    opacity: 0.9;
   padding: 10px; 
}
h2 span.spacer {
   padding:0 5px;
}

.footer {
    
  background-color: #9FFFEA;
background-image: url(Arrow-Down-icon.png);
  list-style: none; 
  text-align: center;
  padding: 0 0 0 0;
  margin: auto;
    color: #EA6C80;
    opacity: 0.8;
}